# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Data files
funding_history.json

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-*

# OS specific files
.DS_Store
Thumbs.db 